*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    line-height: 40px;
    font-size: 21px;
}
#main{
    background: #eee;
  margin: 0 auto;
    border-radius: 5px;
    padding: auto;
    width: 80%;
}
#title {
    line-height: 3.5rem;
    text-align: center;
    min-height: 8rem;
}
#title h1{
    font-size: 45px;
}
#title p{
    font-size: 18px;
}
#image-div{
    text-align: center;
    margin: 2rem 2rem .5rem 2rem;
    background: #fff;
    padding: 10px;
    min-height: 30rem;
    border-radius: 5px;
}
img{
 margin-top: 3rem;
width: 80%;
}
#img-caption{
    font-size: 19px;
    margin: 0 2rem 0 2rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
#info-header{
    text-transform: uppercase;
    color: #ddd;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5rem;
    border-bottom: 1px solid #ccc;
    line-height: 4rem;
}
#timeline{
    margin-top: 2rem;
    margin-bottom: 3rem;
    line-height: 3.5rem;
    
}
li{
    list-style: none;
}
#p-quote{
    font-size: 24px;
}
#quote{
    font-size: 20px;
}
#p-link{
   margin-left: 5rem;
    word-spacing: 2.5px;
    font-size: 25px;
    
}
#tribute-link{
    text-decoration: none;
    color: #006;
}
#tribute-link:hover{
    color: #aaa;
    font-size: 24px;
    
}